.breadcrumbs_block#company {
	margin-bottom: 40px;
}
.kompany {
	margin-bottom: 60px;

	.title {
		margin-bottom: 30px;
	}
	.company_desc {
		color: var(--Background-color-text, #142719);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 125% */
		margin-bottom: 40px;
	}
	.company_descriptions {
		text-align: center;
		h2 {
			color: var(--Background-color-text-2, #2c723d);
			font-family: "Oswald";
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 121%; /* 24.2px */
			margin-bottom: 20px;
			text-align: start;
		}
		p {
			color: var(--Background-color-text, #142719);
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px; /* 125% */
			margin-bottom: 40px;
			text-align: start;
		}
		img {
			width: 100%;
			margin-bottom: 40px;
		}
	}
}
